<div id="Boxo">
    
        <h2 id="centy">
            To Do List
        </h2>
        <img class="logo" src = "http://ww1.prweb.com/prfiles/2015/08/24/13706165/codenow%20logo%20large.png" title="codenow logo">

        <ul>
           <!--<a href="show/1"  style="text-decoration: none;"> -->
           <!--<li>-->
           <!--    <input type="checkbox">Study for Geometry Quiz -->
           <!--<span>[Pomodoro Time]</span>-->
           
           
           <!--</li>-->
           <!--</a>-->
            <%@todos.each do |todo|%>
             <li>
                <a href="/todo/completion/<%= todo.id%>">
               <input type="checkbox">
               </a>
              <%if todo.complete == true %>
               <span class="completed">
                   <a href="/todo/show/<%= todo.id%>"><%= todo.description%>
               </a>
               </span>
               <%else%>
               
               <span>
                  <span class ="Pomo"><a  href="/todo/show/<%= todo.id%>"><%= todo.description%></span> 
               </a>
               </span>
               <%end%>
               
               <span><%=todo.pomodoro_estimate%></span>
         
           </li>
           <%end%>
        </ul>
         
        </div>
       <a href="/todo/new">
           <input style="margin-left: 77px" type="submit" value ="New Todo">
       </a>